{% extends 'base_content.html' %} {% block content %}
<div class="profile-row-content">
  <div class="col-12">
    <div class="profile-picture">
      <img
        src="{{ profile_user.gravatar }}"
        alt="Gravatar of {{ profile_user.username }}"
        class="rounded-circle profile-image"
      />
    </div>
    <div class="profile-text">
      <h3 class="profile-name">
        {{profile_user.first_name}} {{profile_user.last_name}}
      </h3>
      <p class="profile-username">Username: {{ profile_user.username }}</p>
      {% if all_info %}
      <p class="profile-email">Email: {{ profile_user.email }}</p>
      <p class="profile-personal-statement">
        Personal Statement: {{ profile_user.personal_statement }}
      </p>
      <p class="profile-experience-level">
        Experience Level: {{ profile_user.experience_level }}
      </p>
      {% endif %}
      <p class="profile-bio">Bio: {{profile_user.bio }}</p>
      {% if user.user_type == "APPLICANT" %}
      <p>Application Status: In Progress</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
