/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

#cover-image {
  background: url('images/chess-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 3rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.btn{
  background-color: #01304c;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 35rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 8%;
}
.cover-card-block {
  opacity: 1
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */

h3.profile-title {
  margin-bottom: 0px;
}

.profile-bio {
  font-size: 1.1rem;
}

.profile-picture{
  display: flex;
  justify-content: center;
}

.profile-text {
  color: #777777;
  font-weight: 300;
  overflow:hidden;
  padding-left:20px;
  text-align:center;
}

.profile-name{
  font-style: italic;
}

.profile-row-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
 * pagination
 */

 .pagination > li > a{
   color: #000000;
 }

 .pagination > li > a:focus,
 .pagination > li > a:hover,
 .pagination > li > span:focus,
 .pagination > li > span:hover{
   background-color: #01304c;
   color: #FFFFFF;
   border-color: #01304c;
 }

 .pagination .page-item.active .page-link{
   background-color: #01304c;
   color: #FFFFFF;
   border-color: #01304c;
 }

/*
 * Hyperlinks
 */
a {
  text-decoration: none;
  color: #777777;
}

a:hover {
  text-decoration: underline;
  color: #777777;
}

/*
 * navbar
 */

nav.navbar{
  background-color: #01304c;
}
